@{
    ViewBag.Title = "About";
}
<!-- inner page banner -->
<div class="dlab-bnr-inr dlab-bnr-inr-md bg-pt">
    <div class="container">
        <div class="dlab-bnr-inr-entry">
            <h1 class="text-white">About us</h1>
        </div>
    </div>
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="/">Home</a></li>
                <li>About us</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
</div>
<!-- inner page banner END -->
<div class="content-block">
    <!-- About Us -->
    <div class="section-full bg-white content-inner about-style1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 align-self-center m-b30">
                    <div class="project-about-info p-l30">
                        <h4 class="text-black">About Company</h4>
                        <h2 class="m-b20 text-primary">E - Learning CORPORATION VIET NAM COMPANY LIMITED</h2>
                        <p>
                            E - Learning is one of the leading units with the best quality human resources in the Asian market, especially in Vietnam. With the extensive network of relationships we hold, E - Learning is proud to be a reputable and right address for employees.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 m-b30">
                    <div class="dlab-media radius-md">
                        <img src="~/Content/images/about/pic1.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us End -->
    <!-- Our Services -->
    <div class="section-full about-services bg-gray">
        <div class="row m-lr0">
            <div class="col-lg-4 col-md-4 p-lr0">
                <div class="dlab-media">
                    <img src="~/Content/images/services/pic2.jpg" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 p-lr0 d-flex">
                <div class="dlab-box services-style6 align-self-center text-center">
                    <div class="dlab-content">
                        <h2 class="number">01</h2>
                        <h3 class="dlab-tilte m-b10">Labour supply service</h3>
                        <p>
                            Leasing domestic labor (unskilled workers in industrial zones), foreign workers coming to Vietnam.
                        </p>
                        <a href="#" class="btn-link text-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 p-lr0">
                <div class="dlab-media">
                    <img src="~/Content/images/services/pic1.jpg" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 p-lr0 d-flex">
                <div class="dlab-box services-style6 align-self-center text-center">
                    <div class="dlab-content">
                        <h2 class="number">02</h2>
                        <h3 class="dlab-tilte m-b10">Internship program</h3>
                        <p>An internship program that helps students come to Japan to receive training before graduation, learn about the company, work content, relationships, code of conduct, working regulations.</p>
                        <a href="#" class="btn-link text-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 p-lr0">
                <div class="dlab-media">
                    <img src="~/Content/images/services/pic3.jpg" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 p-lr0 d-flex">
                <div class="dlab-box services-style6 align-self-center text-center">
                    <div class="dlab-content">
                        <h2 class="number">03</h2>
                        <h3 class="dlab-tilte m-b10">Engineers dispatching program</h3>
                        <p>We can source, test, locally traning engineers and support sending them to Japan. The plan includes engineers transferring or loan</p>
                        <a href="#" class="btn-link text-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Services End -->
    <!-- Our Skills -->
    <div class="section-full bg-white content-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex">
                    <div class="align-self-center">
                        <div class="section-head text-left">
                            <h2 class="title-head text-primary">Our Skills</h2>
                            <p>Leasing domestic labor (unskilled workers in industrial zones), foreign workers coming to Vietnam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 m-t30">
                    <div class="progress-section">
                        <div class="progress-bx">
                            <h4>Hard Work</h4>
                            <div class="count-box text-primary">70%</div>
                            <div class="progress">
                                <div class="progress-bar bg-green" style="width: 70%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-bx">
                            <h4>Projects Skills</h4>
                            <div class="count-box text-primary">65%</div>
                            <div class="progress">
                                <div class="progress-bar bg-purple" style="width: 65%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-bx">
                            <h4>Projects Delivery</h4>
                            <div class="count-box text-primary">80%</div>
                            <div class="progress">
                                <div class="progress-bar bg-red" style="width: 80%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-bx">
                            <h4>Customers Love</h4>
                            <div class="count-box text-primary">90%</div>
                            <div class="progress progress-bar3">
                                <div class="progress-bar bg-yellow" style="width: 90%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Skills End -->
    <!-- logo -->
    <div class="section-full content-inner bg-gray">
        <div class="container">
            <div class="section-head text-center">
                <h2 class="title-head text-primary">Our Partners</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.</p>
            </div>
            <ul class="partner-box2">
                <li><img src="~/Content/images/logo/logo6.png" alt=""></li>
                <li><img src="~/Content/images/logo/logo7.png" alt=""></li>
                <li><img src="~/Content/images/logo/logo8.png" alt=""></li>
                <li><img src="~/Content/images/logo/logo9.png" alt=""></li>
                <li><img src="~/Content/images/logo/logo9.png" alt=""></li>
                <li><img src="~/Content/images/logo/logo8.png" alt=""></li>
                <li><img src="~/Content/images/logo/logo7.png" alt=""></li>
                <li><img src="~/Content/images/logo/logo6.png" alt=""></li>
            </ul>
        </div>
    </div>
    <!-- logo End -->
</div>
<!-- contact area END -->